# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.venv/

# -----------------------------
# Environment & secrets
# -----------------------------
.env

# -----------------------------
# Git
# -----------------------------
.git/
.gitignore

# -----------------------------
# Tests
# -----------------------------
tests/

# -----------------------------
# ML / Data Artifacts
# -----------------------------
data/
mlruns/
.dvc/
artifacts/
reports/
models/
outputs/

# -----------------------------
# Large file types
# -----------------------------
*.csv
*.parquet
*.pkl
*.joblib
*.h5

# -----------------------------
# Notebooks
# -----------------------------
*.ipynb

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# OS junk
# -----------------------------
.DS_Store